<html 
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true">
<div class="teaser teaser--style3 teaser-news blackboard-main-container">
  <div class="blackboard-image-container">
    <f:if condition="({blackboard.image})">
      <f:then>
          <f:image src="{blackboard.image.originalResource.publicUrl}" />
      </f:then>
      <f:else>
          <f:image src="EXT:wills_blackboards/Resources/Public/Images/fallback-image.jpg" />
      </f:else>
    </f:if>
  </div>
  <span class="blackboard-date">
    <f:format.date format="d.m.Y">{blackboard.crdate}</f:format.date>
  </span>
  <h3 class="blackboard-list-title">{blackboard.title}</h3>
    <f:link.action action="show" arguments="{blackboard: blackboard}" controller="Blackboards" extensionName="WillsBlackboards" pluginName="BlackboardsShow" pageUid="{settings.blackboardsUidViewPage}">
        <span class="icon-before-arrow-right blackboard-list-link">
          <f:translate key="blackboards.show"/>
        </span>
      </f:link.action>
</div>