<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <section id="section-main-upper">
        <div class="row">
            <div class="center-wrapper blackboards-title">
                <h1>{contentObjectData.header}</h1>
                <p>{contentObjectData.subheader}<br /><br /></p>
                <div>
                    <f:link.action class="btn btn-primary" action="new" controller="Blackboards" extensionName="WillsBlackboards" pluginName="BlackboardsNew" pageUid="{settings.blackboardsUidNewPage}">
                        <f:translate key="blackboards.create_button"/>
                    </f:link.action>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center-wrapper">
                <h3><f:translate key="blackboards.category_header"/> | {blackboard.category.title}
                </h3>
                <div class="module txt-media txt-media--right ">
                    <div class="txt-media__txt">
                        
                        <span class="blackboard-date"><f:format.date format="d.m.Y">{blackboard.crdate}</f:format.date></span>
                        <h1 class="txt-media__hl">{blackboard.title}</h1>
                        <p>{blackboard.description}</p>
                        <br />
                        <f:if condition="{blackboard.phoneNumber}">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" class="blackboard-icons" viewBox="3 0 20 16">
                                    <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                                </svg>
                                <h5><a class="text-decoration-none" href="tel:{blackboard.phoneNumber}">{blackboard.phoneNumber}</a></h5>
                            </div>
                        </f:if>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" class="blackboard-icons" viewBox="3 0 20 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"></path>
                            </svg>
                            <h5><a class="text-decoration-none" href="mailto:{blackboard.user.email}">{blackboard.user.email}</a></h5>
                            
                        </div>
                        <h5 class="icon-before-arrow-right">
                            <a class="text-decoration-none" href="mailto:{blackboard.user.email}"><f:translate key="blackboards.view_contact_link" /></a>
                        </h5>
                        <f:if condition="({user-uid} == {blackboard.user.uid})">
                            <div class="show-actions">
                                <f:link.action action="edit" arguments="{blackboard: blackboard}" controller="Blackboards">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="22" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </f:link.action>
                                <f:link.action onclick="return confirm('{f:translate(key: 'blackboards.delete_blackboard_confirm')} ')" action="delete" arguments="{blackboard: blackboard}" controller="Blackboards" pageUid="{settings.blackboardsUidListPage}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="22" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                    </svg>
                                </f:link.action>
                            </div>
                        </f:if>
                    </div>
                    <div class="txt-media__img">
                        
                            <figure class="blackboard-image">
                                <f:if condition="({user-uid} == {blackboard.user.uid})">
                                    <f:then>
                                        <f:link.action action="imageEdit" arguments="{blackboard: blackboard, fileReferenceUid: blackboard.image.uid}" controller="Blackboards">
                                            <f:if condition="({blackboard.image})">
                                                <f:then>
                                                    <f:image class="bb-show-image" src="{blackboard.image.originalResource.publicUrl}" />
                                                </f:then>
                                                <f:else>
                                                    <f:image class="bb-show-image" src="EXT:wills_blackboards/Resources/Public/Images/fallback-image.jpg" />
                                                </f:else>
                                            </f:if>
                                            <svg class="bb-show-image-pen-icon" xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="#fff" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                            </svg>
                                        </f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="({blackboard.image})">
                                            <f:then>
                                                <f:image src="{blackboard.image.originalResource.publicUrl}" />
                                            </f:then>
                                            <f:else>
                                                <f:image src="EXT:wills_blackboards/Resources/Public/Images/fallback-image.jpg" />
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </figure>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row {f:if(condition:contentObjectData.layout,then:'row--bread')} row--small frame frame-default frame-type-form_formframework frame-layout-0">
            <div class="center-wrapper">
                <f:form method="post" action="createComment" name="comment" object="{comment}" controller="Comments" extensionName="WillsBlackboards" pluginName="BlackboardsShow" pageUid="{settings.blackboardsUidViewPage}">
                    <h2><f:translate key="blackboards.comments_header"/></h2>
                    <div class="form-group">
                        <label class="control-label"><f:translate key="blackboards.comments_input_name"/>
                        </label>
                        <div class="input">
                            <f:form.hidden property="blackboard" name="blackboard" value="{blackboard}" />
                            <f:form.textarea required="true" class="xxlarge form-control" property="text" rows="8" cols="46"></f:form.textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <f:form.submit class="btn btn-primary" value="{f:translate(key: 'submit', default: 'absenden')}"></f:form.submit>
                    </div>
                </f:form>
                <f:for each="{comments}" as="comment">
                    <f:render partial="Comment/ListItem" arguments="{comment: comment}"/>
                </f:for>
            </div>
        </div>
    </section>
</html>